<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--驼峰-->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!--打印sql-->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<!-- 别名 -->
	<typeAliases>
		<package name="com.wang.crud.bean" />
	</typeAliases>

	<!-- pageHelper分页插件配置 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 分页合理化 -->
			<property name="reasonable" value="true" />
		</plugin>
	</plugins>

</configuration>